<h1><%= t '.header', :full_name => @user.full_name %></h1>

<p>
  <strong><%= t '.location' %>:</strong>
  <%= @user.location %>
</p>

<p>
  <strong><%= t '.bio' %>:</strong>
  <%= @user.bio %>
</p>

<%= link_to t('links.edit'), edit_user_path(@user) %>
